absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1623774798911/work
adal==1.2.7
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1623682484649/work
antlr4-python3-runtime==4.7.2
anyio @ file:///Users/runner/miniforge3/conda-bld/anyio_1624539438237/work/dist
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
applicationinsights==0.11.10
appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1610094676799/work
argcomplete @ file:///home/conda/feedstock_root/build_artifacts/argcomplete_1619128689661/work
argon2-cffi @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi_1610522612123/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1610696312422/work
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
Authlib==0.15.4
azure-appconfiguration==1.1.1
azure-batch==11.0.0
azure-cli==2.27.2
azure-cli-core==2.27.2
azure-cli-telemetry==1.0.6
azure-common==1.1.27
azure-core==1.17.0
azure-cosmos==3.2.0
azure-datalake-store==0.0.52
azure-functions-devops-build==0.0.22
azure-graphrbac==0.60.0
azure-identity==1.6.1
azure-keyvault==1.1.0
azure-keyvault-administration==4.0.0b3
azure-loganalytics==0.1.0
azure-mgmt-advisor==9.0.0
azure-mgmt-apimanagement==0.2.0
azure-mgmt-appconfiguration==2.0.0
azure-mgmt-applicationinsights==1.0.0
azure-mgmt-authorization==0.61.0
azure-mgmt-batch==16.0.0
azure-mgmt-batchai==7.0.0b1
azure-mgmt-billing==6.0.0
azure-mgmt-botservice==0.3.0
azure-mgmt-cdn==11.0.0
azure-mgmt-cognitiveservices==12.0.0
azure-mgmt-compute==22.0.0
azure-mgmt-consumption==2.0.0
azure-mgmt-containerinstance==1.5.0
azure-mgmt-containerregistry==8.1.0
azure-mgmt-containerservice==16.0.0
azure-mgmt-core==1.3.0
azure-mgmt-cosmosdb==6.4.0
azure-mgmt-databoxedge==1.0.0
azure-mgmt-datalake-analytics==0.2.1
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-datamigration==9.0.0
azure-mgmt-deploymentmanager==0.2.0
azure-mgmt-devtestlabs==4.0.0
azure-mgmt-dns==8.0.0
azure-mgmt-eventgrid==9.0.0
azure-mgmt-eventhub==4.1.0
azure-mgmt-extendedlocation==1.0.0b2
azure-mgmt-hdinsight==8.0.0
azure-mgmt-imagebuilder==0.4.0
azure-mgmt-iotcentral==9.0.0b1
azure-mgmt-iothub==2.0.0
azure-mgmt-iothubprovisioningservices==0.2.0
azure-mgmt-keyvault==9.0.0
azure-mgmt-kusto==0.3.0
azure-mgmt-loganalytics==11.0.0
azure-mgmt-managedservices==1.0.0
azure-mgmt-managementgroups==0.2.0
azure-mgmt-maps==2.0.0
azure-mgmt-marketplaceordering==1.1.0
azure-mgmt-media==3.1.0
azure-mgmt-monitor==2.0.0
azure-mgmt-msi==0.2.0
azure-mgmt-netapp==4.0.0
azure-mgmt-network==19.0.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-policyinsights==1.0.0
azure-mgmt-privatedns==1.0.0
azure-mgmt-rdbms==9.1.0b1
azure-mgmt-recoveryservices==2.0.0
azure-mgmt-recoveryservicesbackup==0.14.0
azure-mgmt-redhatopenshift==0.1.0
azure-mgmt-redis==13.0.0
azure-mgmt-relay==0.1.0
azure-mgmt-reservations==0.6.0
azure-mgmt-resource==18.0.0
azure-mgmt-search==8.0.0
azure-mgmt-security==0.6.0
azure-mgmt-servicebus==6.0.0
azure-mgmt-servicefabric==0.5.0
azure-mgmt-servicefabricmanagedclusters==1.0.0
azure-mgmt-signalr==1.0.0b2
azure-mgmt-sql==3.0.1
azure-mgmt-sqlvirtualmachine==0.5.0
azure-mgmt-storage==18.0.0
azure-mgmt-synapse==2.0.0
azure-mgmt-trafficmanager==0.51.0
azure-mgmt-web==2.0.0
azure-multiapi-storage==0.6.2
azure-nspkg==3.0.2
azure-storage-common==1.4.2
azure-synapse-accesscontrol==0.5.0
azure-synapse-artifacts==0.6.0
azure-synapse-spark==0.2.0
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bcrypt==3.2.0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1612213472466/work
blinker==1.4
boto==2.49.0
brotlipy==0.7.0
CacheControl==0.12.6
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1619593780156/work
cachy==0.3.0
certifi==2020.6.20
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1613414067184/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1610093477312/work
cleo @ file:///home/conda/feedstock_root/build_artifacts/cleo_1602266613143/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1621503759047/work
clikit @ file:///home/conda/feedstock_root/build_artifacts/clikit_1591735638473/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
colorama==0.4.4
crashtest==0.3.0
crcmod @ file:///Users/runner/miniforge3/conda-bld/crcmod_1624134849165/work
cryptography==3.3.2
cycler==0.10.0
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1621187651333/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.2.12
diskcache==5.2.1
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1593349814048/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
fabric==2.6.0
fasteners @ file:///home/conda/feedstock_root/build_artifacts/fasteners_1621500222934/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
Flask==2.0.1
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1617723079010/work
gast==0.3.3
gcs-oauth2-boto-plugin @ file:///home/conda/feedstock_root/build_artifacts/gcs-oauth2-boto-plugin_1597767873418/work
gevent==21.8.0
google-apitools @ file:///home/conda/feedstock_root/build_artifacts/google-apitools_1620290502802/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1625312698221/work
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
google-reauth @ file:///home/conda/feedstock_root/build_artifacts/google-reauth_1606899455284/work
greenlet==1.1.1
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpcio_1614828367595/work
gsutil @ file:///home/conda/feedstock_root/build_artifacts/gsutil_1625254313350/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1617739488066/work
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1617134439639/work
humanfriendly==9.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1607548121797/work
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
invoke==1.6.0
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1620912982711/work/dist/ipykernel-5.5.5-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1625027268135/work
ipython-genutils==0.2.0
isodate==0.6.0
itsdangerous==2.0.1
javaproperties==0.5.1
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1610146833874/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1621419064915/work
jmespath==0.10.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
jsmin==2.2.2
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsondiff==1.2.0
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1614815863336/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1615693636836/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1612125286065/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1624558637735/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1621368934875/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1622556871679/work
Keras-Preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1610713559828/work
keyring @ file:///Users/runner/miniforge3/conda-bld/keyring_1607549811659/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1624925864380/work
knack==0.8.2
llvmlite==0.36.0
lockfile==0.12.2
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1614595805172/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1621455730621/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1620506066343/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1618935594181/work
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1624941333556/work
mock @ file:///Users/runner/miniforge3/conda-bld/mock_1612982517398/work
monotonic==1.5
more-itertools @ file:///tmp/build/80754af9/more-itertools_1598884071673/work
msal==1.14.0
msal-extensions==0.3.0
msgpack @ file:///opt/concourse/worker/volumes/live/d7400f3a-e5de-4e85-5d4c-0c984c648401/volume/msgpack-python_1612287157185/work
msrest==0.6.21
msrestazure==0.6.4
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1624981215272/work
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1621947328608/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1614336084111/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1624472888642/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1621259862661/work
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1623568581145/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1624399905521/work
oauth2client==4.1.3
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1622563202229/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1617859230218/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas==1.3.0
pandocfilters==1.4.2
paramiko==2.7.2
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1617148930513/work
pastel==0.2.0
pathlib2==2.3.6
pbr @ file:///home/conda/feedstock_root/build_artifacts/pbr_1619460527081/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1625678024115/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1611000265564/work
pluggy==0.13.1
poetry @ file:///Users/runner/miniforge3/conda-bld/poetry_1618445034235/work
poetry-core @ file:///home/conda/feedstock_root/build_artifacts/poetry-core_1617989199588/work
portalocker==1.7.1
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1622586138406/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1623977816122/work
protobuf==3.15.8
psutil==5.8.0
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///tmp/build/80754af9/py_1593446248552/work
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydantic @ file:///Users/runner/miniforge3/conda-bld/pydantic_1620820005338/work
PyGithub==1.55
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1620245170812/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1619620644068/work
pylev==1.3.0
PyNaCl==1.4.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1607553784939/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291493748/work
pytest==0.0.0
python-dateutil==2.8.1
pytz==2019.1
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyYAML==5.4.1
pyzmq==20.0.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
retry-decorator @ file:///home/conda/feedstock_root/build_artifacts/retry_decorator_1588152469349/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1614171254180/work
scikit-learn @ file:///opt/concourse/worker/volumes/live/111833a2-339b-4578-413b-7337bb8fe64a/volume/scikit-learn_1598376920601/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1624824912456/work
scp==0.13.6
semver==2.13.0
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1624366715919/work
shap @ file:///Users/runner/miniforge3/conda-bld/shap_1619696981741/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1612179560728/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
slicer @ file:///home/conda/feedstock_root/build_artifacts/slicer_1608146800664/work
sniffio @ file:///Users/runner/miniforge3/conda-bld/sniffio_1610318396434/work
SocksiPy-branch @ file:///home/conda/feedstock_root/build_artifacts/socksipy-branch_1588244223716/work
SQLAlchemy @ file:///opt/concourse/worker/volumes/live/c2aa03b1-c9ad-45a3-441a-2a13161a65a4/volume/sqlalchemy_1598374744424/work
sshtunnel==0.1.5
stratosphere-cli==0.1.5
stratosphere-client==5.5.0
tabulate==0.8.9
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1610699261066/work/tensorboard-2.4.1-py3-none-any.whl
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1611075653546/work/tensorboard_plugin_wit-1.8.0-py3-none-any.whl
tensorflow @ file:///Users/uwe/miniconda3/conda-bld/tensorflow-split_1618075966251/work/tensorflow_pkg/tensorflow-2.4.0-cp38-cp38-macosx_10_9_x86_64.whl
tensorflow-estimator @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-estimator_1610655765755/work/tensorflow_estimator-2.4.0-py2.py3-none-any.whl
termcolor==1.1.0
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1623365365300/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tomlkit @ file:///Users/runner/miniforge3/conda-bld/tomlkit_1621899918287/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1610094711612/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1623518955413/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
typer==0.4.0
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
urllib3==1.26.6
virtualenv @ file:///Users/runner/miniforge3/conda-bld/virtualenv_1621891693601/work
vsts==0.1.25
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1624971795890/work
xmltodict==0.12.0
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1625233054231/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1614945704755/work
zope.event==4.5.0
zope.interface==5.4.0
